.navbar{
    list-style: none;
    background-color: #333;
    overflow: hidden;
}
li{
float: right;
}
li a{
    display: block;
    color: rgb(180, 180, 180);
    text-align: center; 
    padding: 10px 20px;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(180, 180, 180);
    color: rgb(124, 22, 42);
}
.fieldset{ 

    background-color: rgb(31, 31, 31);
    margin: 20px 0px 20px 0px;
    padding: 20px 0px;
    height: 75vh;
}
.personalInfo{
    color: rgb(180, 180, 180);
    margin: 10px 500px 20px 500px;
    display: grid;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.txt{
    text-align: center;
    color: rgb(31, 31, 31);
    background-color: rgb(180, 180, 180);
    color: rgb(124, 24, 42);
    line-height: 30px;
}

a:link{
color: rgb(49, 13, 13);
}
a:hover{
background-color: rgb(49, 13, 13);
color: rgb(233, 116, 116);
}
a:active{
background-color: rgb(255, 2, 2);
color: rgb(49, 13, 13);
}
a:visited{
background-color:rgb(20, 20, 20);
color: rgb(80, 80, 80);
}
a:focus{
background-color:  rgb(80, 1, 40);
color: rgb(107, 34, 70);
}



footer{
    text-align: center;
    padding: 10px 20px;
    background-color: #333;
    color: rgb(180, 180, 180);
}